<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>News</h1>
<div id="articlePage">
   <div class="content">
      <h3>Article Title</h3>
       <p>01. Lorem ipsum dolor sit amet, et est modo case lorem. Duo sensibus oportere an, discere eripuit et qui, his ad ferri liber malorum. Affert fabellas qui ei. Probatus reprehendunt eu sea. Nec no tation platonem adolescens, nec ne epicurei perpetua.</p>
     <p>02. Vel in nominavi eleifend, mutat necessitatibus vis et. Ea wisi blandit pri. Ei per porro quando complectitur, invenire persequeris dissentiunt ea pro. Cu nobis solet scripserit vel.</p>
     <p>03. Tantas maluisset ad sed. Timeam veritus legendos vim ei. Mel odio iriure id. Eu tantas dissentiunt vel, mei no feugait placerat, nostrum conceptam sit id. Et cum partiendo explicari urbanitas, utinam aperiri nostrud pro id. Ei usu clita nostrud mediocrem, ea vim tale integre gubergren, possim inermis usu ne. Duo electram necessitatibus ne.</p>
     <p>04. Ex commune cotidieque quo, sed luptatum euripidis id. Eos case postulant theophrastus ad, quo amet tritani corpora eu. Pro enim accusata et, sanctus laboramus referrentur pro ex. Ius id movet impetus, in mei saepe corpora, ad eos lorem regione.</p>
     <p>05. Id sumo invenire definitiones eum, vidisse legimus evertitur nam in. Ea mea ornatus argumentum omittantur. Quo et erat summo iriure. Autem deterruisset ad vis.</p>
     </div>
</div>

<button onclick="myFunction()" id="myBtn">Xem thêm</button>